h1 {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: cursive;
    font-size: 45px;
  }

  h2 {
    font-size: 25px;
  }

  .section1 {
    width: 55%;
    display: inline-block;
    float: left;
  }

  .section2 {
    width: 35%;
    display: inline-block;
    float: right;
  }

  .imgpara {
    display: inline-block;
  }

  .para {
    position: relative;
    left: 200px;
    bottom: 223px;
    width: 65%;
    margin: 0px 10% 0px 10%;
  }